body {
  text-align: center;
}

#title {
  text-align: center;
}

#color-palette {
  display: inline-block;
  width: auto;
}
.color {
  display: inline-block;
  border: 1px black solid;
  padding: 40px;
  margin: 10px auto 40px;
}

.black {
  background-color: black;
}

.lilac {
  background-color: rgb(178, 177, 233);
}

.blue {
  background-color: rgb(85, 169, 242);
}

.pink {
  background-color: rgb(249, 127, 196);
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
}

.pixel {
  background-color: white;
  border: 1px black solid;
  padding: 40px;
  height: 40px;
  width: 40px;
}
