* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#title {
  font-size: 35px;
  margin-bottom: 15px;
}

#color-palette {
  display: flex;

}
.color {
  border: 1px black solid;
  height: 40px;
  width: 40px;
}

.black {
  background-color: black;
}

.lilac {
  background-color: rgb(178, 177, 233);
}

.blue {
  background-color: rgb(85, 169, 242);
}

.pink {
  background-color: rgb(249, 127, 196);
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.pixel {
  background-color: white;
  border: 1px black solid;
  height: 40px;
  width: 40px;
}
